:root {
    --font: 'Libre Franklin', sans-serif;
    --color-primary: hsl(223, 87%, 63%);
    --color-secondary-blue: hsl(223, 100%, 88%);
    --color-secondary-red: hsl(354, 100%, 66%);
    --color-neutral-gray: hsl(0, 0%, 59%);
    --color-neutral-dark-blue: hsl(209, 33%, 12%);
    --width-logo: 5.4rem;
    --margin-logo: 8.5rem 0 2.2rem;
    --width-page: 100vw;
    --title-size: 2.4rem;
    --title-size-desktop: 4.5rem;
    --paragraph-size: 1.2rem;
    --margin-text: 2.2rem 0;
    --width-email: 24.6rem;
    --height-email: 3.6rem;
    --padding-email: 3rem;
    --width-email-desktop: 38.6rem;
    --height-email-desktop: 5.2rem;
    --width-btn: 28rem;
    --height-btn: 4rem;
    --width-btn-desktop: 20rem;
    --height-btn-desktop: 5.6rem;
    --border-email-btn: 1px solid var(--color-secondary-blue);
    --border-email-error: 1px solid var(--color-secondary-red);
    --border-radius-email-btn: 2rem;
    --margin-email-btn: 0 0 1rem 0;
    --width-image: 32rem;
    --margin-image: 7rem 0 10rem;
    --width-media: 3rem;
    --margin-media: 2rem 0;
    --margin-text-copy: 1rem 0 3.6rem;
}

html {
    font-family: var(--font);
    font-size: 62.5%;
    box-sizing: border-box;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo__image {
    width: var(--width-logo);
    margin: var(--margin-logo);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    text-align: center;
}

.text__title {
    font-size: var(--title-size);
    margin: var(--margin-text);
}

.text__title-strong {
    font-weight: 700;
    color: var(--color-neutral-dark-blue);
}

.text__paragraph {
    font-size: var(--paragraph-size);
    font-weight: 600;
    margin: var(--margin-text);
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input__email,
.input__btn {
    border: var(--border-email-btn);
    border-radius: var(--border-radius-email-btn);
    margin: var(--margin-email-btn);
}

.input__email {
    width: var(--width-email);
    height: var(--height-email);
    padding-left: var(--padding-email);
}

.input__email:focus {
    outline: none;
}

.input__email::placeholder {
    font-size: 1rem;
    color: var(--color-secondary-blue);
}

.error {
    display: block;
    width: var(--width-email);
    height: var(--height-email);
    border: var(--border-email-error);
    border-radius: var(--border-radius-email-btn);
    padding-left: var(--padding-email);
    margin: var(--margin-email-btn);
}

.error:focus {
    outline: none;
}

.error::placeholder {
    font-size: 1rem;
    color: var(--color-secondary-red);
}

.input__email-error {
    font-style: italic;
    text-align: center;
    color: var(--color-secondary-red);
    padding: 0 0 2rem 0;
}

.input__btn {
    width: var(--width-btn);
    height: var(--height-btn);
    color: #fff;
    background-color: var(--color-primary);
    box-shadow: 0rem 15px 30px -5px var(--color-secondary-blue);
    cursor: pointer;
}

.input__btn:hover {
    opacity: .7;
}

.image__illustration {
    width: var(--width-image);
    margin: var(--margin-image);
}

.copy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.media__link {
    margin: var(--margin-media);
}

.media__image {
    padding: .6rem;
}

.copy p {
    color: var(--color-neutral-gray);
    margin: var(--margin-text-copy);
}

@media only screen and (min-width: 1440px) {

    .text__title{
        font-size: var(--title-size-desktop);
    }

    .text__paragraph {
        font-size: 2rem;
    }

    .input {
        flex-direction: row;
        align-items: start;
        margin: 2.2rem 0 1rem;
    }

    .input__email {
        width: var(--width-email-desktop);
        height: var(--height-email-desktop);
        margin: 0 1.6rem 0 0;
    }

    .input__email::placeholder {
        font-size: 1.4rem;
    }

    .input__content-text-error {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input__email-error {
        font-size: 1.4rem;
    }
    
    .error {
        display: block;
        width: var(--width-email-desktop);
        height: var(--height-email-desktop);
        border: var(--border-email-error);
        border-radius: var(--border-radius-email-btn);
        padding-left: var(--padding-email);
        margin: 0 1.6rem 1rem 0;
    }

    .error::placeholder {
        font-size: 1.4rem;
    }

    .input__btn {
        width: var(--width-btn-desktop);
        height: var(--height-btn-desktop);
    }

    .image__illustration {
        width: 64rem;
    }
}